.homeWrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .homeWrapper {
    flex-direction: column-reverse;
  }
}

.homeBlock {
  width: calc(100% - 170px);
}

@media screen and (max-width: 767px) {
  .homeBlock {
    width: 100%;
  }
}
