body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

@media screen and (max-width: 767px) {
  .css-h4y409-MuiList-root {
    display: flex;
    flex-wrap: wrap;
  }
  .css-cveggr-MuiListItemIcon-root {
    min-width: 10px !important;
  }
  .css-1ji06j7-MuiListItem-root {
    margin-right: 10px;
  }
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 0.8rem !important;
  }

  .css-tlelie-MuiListItemText-root {
    margin: 0 !important;
  }
}
