body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags__block {
  display: flex;
  text-align: center;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .wrapTags {
    display: flex;
    flex-wrap: wrap;
  }
}
